*.dot
test-suite
binary_O3
mcsema_O3
single-source-benchmark/docs/compd.log
single-source-benchmark/docs/match.log
single-source-benchmark/docs/opt.log
toy-examples/docs/compd.log
toy-examples/docs/match.log
toy-examples/docs/opt.log
spec2006/docs/compd.log
spec2006/docs/match.log
spec2006/docs/opt.log
*.swp
*.swo
*.swn
*.swm
*.swl
match_mcsema_proposed.log
match_proposed_mcsema.log
*.sw*
compd.log
test.mcsema.opt.ll
opentuner.db
opentuner.log
tmp
test.proposed.opt.ll
test.mcsema.opt.ll
tuner.log
invoke_compd_seq.log
